.dash {
  #marketplace, #app {
    position: absolute;
    top:0;
    height:100%;
    overflow: auto;
  }
  #marketplace {
    left:0;
    background: $brown-100;
    width:55%;
    @media screen and (max-width:1024px),screen and (max-device-width:1024px) {
      width:38%;
    }
    @media screen and (max-width:700px),screen and (max-device-width:700px) {
      width:29%;
    }
    @media screen and (max-width:640px),screen and (max-device-width:640px) {
      right:100%;
      width:100%;
      left:auto;
    }
  }
  #marketplace .apps {
    .card {
      margin:0;
      height:100%;
    }
    .cover {
      position: relative;
      img {
        display: block;
      }
      .btn {
        position: absolute;
        right:$base-spacing-unit;
        bottom:$base-spacing-unit;
      }
    }
    .gutter-sizer {
      width:1%;
    }
    .grid-sizer,
    .item {
      width:240px;
      display: inline-block;
    }
    .item {
      height:260px;
      &.is-dragging {
        z-index: 9999;
        @include polymer-z-depth(4);
      }
      .fab {
        position: absolute;
        left:50%;
        bottom:0;
        @include transform(translateY(50%));
        .btn--xl {
          margin-left: -(halve($size-xl));
        }
      }
      &.active {
        height:auto;
        .card {
          border:2px solid $blue-500;
          @include polymer-z-depth(2);
          z-index: 9000;
        }
      }
    }
  }
  #app {
    right:0;
    background: $white;
    width:45%;
    @media screen and (max-width:1024px),screen and (max-device-width:1024px) {
      width:62%;
    }
    @media screen and (max-width:700px),screen and (max-device-width:700px) {
      width:71%;
    }
    @media screen and (max-width:640px),screen and (max-device-width:640px) {
      width:100%;
    }
    .cover.main {
      height: 45%;
      background: $orange-600;
      position: relative;
      max-height: $base-spacing-unit*40;
      .action.main {
        position: absolute;
        bottom:0;
        @include transform(translateY(50%));
        right:7%;
      }
    }
  }
  .card.toolbar-card {
    background: $indigo;
    color: $white;
  }
  .scroll-test {
    height: 2000px;
  }
}
